
main { background-image: url('/storage/emulated/0/Download/digial-circuit-diagram-technology-background_1017-28403.jpg');
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;
}

p{ color:white;}

form {
    color: cornsilk;
}

h1 {font-family: sans-serif;
    font-size: 150%;
    margin: 0px auto;
    border-radius: 5px;
    padding-bottom: 3px;
    width: 30%;
    background-color: black;
    color: white;
    text-align: center;
}

input {
    background-color: transparent;
    padding: 2px;
    border-radius: 5px;
    width: 30%;
    height: 7%;
}
#submit {
    width: 15%;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: sans-serif;

}