body {display: flex;
    background-image: url('/storage/emulated/0/Download/digial-circuit-diagram-technology-background_1017-28403.jpg');
    justify-content:center;
}
h1{
    color: black; background-color: brown;
    text-align: center;
    font-family: Sans-Serif;
}
#my-p{
    background-color: transparent;
    color: white;
}

p {color:white;
font-family: Sans-Serif;}

h3{
    color: black; background-color: brown;
    text-align: center; font-family: Sans-Serif;
}
.block {
    background-color:transparent;
    height: 500px;
    width: 400px;
    color:black;
}

form {
    color:white;
padding-left: 10px;
padding-top: 20px;
    background-color:transparent;
    height: 300px;
    width: 300px;
    text-align: center;
}

input {border-radius: 20px;
    width: 70%;
    height: 30%;
}
div {
    margin: 5%;
}

label{
     text-align:center;
}